<button (click)="initNewHero()" class="btn btn-primary" type="button">Add New Hero</button>
<table class="table">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Place</th>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes">
      <th scope="row">{{ hero.id }}</th>
      <td>{{ hero.name }}</td>
      <td>{{ hero.firstName }}</td>
      <td>{{ hero.lastName }}</td>
      <td>{{ hero.place }}</td>
      <td><button (click)="editHero(hero)" type="button" class="btn btn-secondary">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-hero [hero]="heroToEdit"></app-edit-hero>
